#navegador{
    background-image: linear-gradient(to right, #FE3897, #00B3F6, #5734FD);
    position: fixed;
    z-index: 1;
}

#welcome{
    color: #fff;
    font-weight: 500;
}

#casa{
    color: #fff;
}
#casa:hover{
    background-color: #fff;
    color: #FE3897;
}

#mim{
    color: #fff;
}
#mim:hover{
    background-color: #fff;
    color: #FE3897;
}

#proj{
    color: #fff;
}
#proj:hover{
    background-color: #fff;
    color: #FE3897;
}

#cont{
    color: #fff;
}

#cont:hover{
    background-color: #fff;
    color: #FE3897;
}

#rafa{
    position: relative;
    top: 20px;
    left: 1%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.sobre{
    color: #8a869b;
    font-size: medium;
}

.container {
    clear:both;
}

.info{
    color: #2f383a;
    font-size:20px;
}
  
img {
    float: left;
}
  
h1 {
    float: left;
    position: relative;
    top: 50px;
    left: 5%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #FE3897, #00B3F6, #5734FD);
}

h2 {
    float: left;
    position: relative;
    left: 5%;
    top: 50px;
}

h3 {
    margin-top: 10%;
    margin-left: 7%;
    color: #00B3F6;
}

p {
    position: relative;
    float: left;
    left: 5%;
    right: 5%;
    width: 1100px;
    height: 100px;
    top: 50px;
    text-align: justify;
    font-size: larger;
    font-weight: 500;
    color: #555265;
}

body {
    padding-top: 6px; /* Adicione um padding no topo do corpo para evitar que o conteúdo fique oculto pela navbar fixa */
}